/vendor/
/node_modules/
.env
.env.*
/public/storage
/storage/*.key
/public/build
.idea/
.vscode/
/bootstrap/cache/*
/public/hot
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage/
.DS_Store
Thumbs.db