/demo
/storage/debugbar
/public/storage
# Temporarily allowing logs for debugging
# /storage/*.key
.env
.idea/
.vscode/
/public/hot
node_modules/
storage/logs/laravel.log

# Laravel cache files
/storage/framework/views/*.php
/storage/framework/cache/*
/storage/framework/sessions/*
