body, html
{
   padding: 0;
   margin: 5px;
}
.invoice-box{           
    margin:auto;
    /* padding:30px; */
    border:1px solid #eee;
    box-shadow:0 0 10px rgba(0, 0, 0, .15);
    font-size:16px;
    line-height:24px;
    font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color:#555;
    padding: 10px;
 }
 .invoice-box table{
    width:100%;
    line-height:inherit;
    text-align:left;
 }
 .invoice-box table td{
    padding:5px;
    vertical-align:top;
 }
 .invoice-box table tr.top table td{
    padding-bottom:20px;
 }
 .invoice-box table tr.top table td.title{
    font-size:45px;
    line-height:45px;
    text-align: center;
    color:#333;
 }
 .invoice-box table tr.top table td.title h4{
   font-size:18px !important;
   padding:0 !important;
   margin: -20px !important;
}

 .invoice-box table tr.information table td{
    padding-bottom:40px;
 }
 .invoice-box table tr.heading td,  .invoice-box table tr.heading th{
    background:rgb(214, 214, 214);
    border:1px solid #ddd;
    font-weight:bold;
 }
 .invoice-box table tr.details td{
    border:1px solid #ddd;
 }
 .invoice-box table tr.item td{
    border-bottom:1px solid #eee;
 }
 @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td{
        width:100%;
        display:block;
        text-align:center;
    }
    .invoice-box table tr.information table td{
        width:100%;
        display:block;
        text-align:center;
    }
 }
 .detailschild td
 {
    border-bottom:1px solid rgb(94, 94, 94) !important;
 }
.nnewHHad th
{
   background-color: rgb(245, 245, 245) !important;
}
 .tddHead td:nth-child(even)
 {
    background: rgb(250, 250, 250) !important;
    /* color: #000; */
 }