.logo {
  padding: 0 !important;
}

.logo-lg img {
  width: 230px;
  height: 53px;
}

.swal2-popup {
  font-size: 15px !important;
}

.btn-loader {
  position: fixed;
  background: rgba(0, 0, 0, 0.38);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9;
}

.btn-loader img {
  margin: auto !important;
  display: block !important;
  vertical-align: middle !important;
  position: absolute !important;
  left: 0px !important;
  right: 0px !important;
  top: 50% !important;
  width: 80px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px !important;
}

.select2-container--default .select2-selection--single {
  height: 34px !important;
  border: 1px solid #d2d6de !important;
  border-radius: 0px !important;
}

.select2.select2-container.select2-container--default {
  height: 34px !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #fff !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff !important;
  opacity: 1;
}


.select2 {
  width: 100% !important;
}

#note {
  height: 60px !important;
}

.align_float_right {
  text-align: right;
}

.textData table tr:hover {
  background: #000 !important;
  color: white !important;
  cursor: pointer !important;
}


/* ALL LOADERS */

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  top: 35%;
}

/* LOADER 1 */

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 10px solid #ccc;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn-biz-pinkish {
  background: #03db1cac;
  color: white;
}

.btn-biz-pinkish:hover,
.btn-biz-pinkish:active,
.btn-biz-pinkish:focus {
  background: #03db1cac;
  color: white;
}

.btn-biz-greenish {
  background: #24d800;
  color: white;
  padding: 0px 7px;
  font-size: 18px;
}

.btn-biz-greenish:hover,
.btn-biz-greenish:active,
.btn-biz-greenish:focus {
  background: #168300;
  color: white;
}

.btn-biz-purplish {
  background-color: #B983FF;
  color: white;
  border-color: #B983FF;
  padding: 0px 7px;
  font-size: 18px;
}

.btn-biz-purplish:hover,
.btn-biz-purplish:active,
.btn-biz-purplish:focus {
  background-color: #6f4a9e !important;
  color: white;

  border-color: #714e9f !important;
}

.btn-biz-gradient-purple {
  background-image: linear-gradient(to right, #6f4a9e, #8158b5, #9366cd, #a674e6, #b983ff);
  color: white;
  border-color: #B983FF;
}

.btn-biz-gradient-purple:hover,
.btn-biz-gradient-purple:active,
.btn-biz-gradient-purple:focus {
  background-image: linear-gradient(to right, #b983ff, #a674e6, #9366cd, #8158b5, #6f4a9e);
  border-color: #714e9f !important;
  color: white;

}


.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: #2196F3;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

@media (min-width: 576px) {
  .modal-sm {
    width: 576px;
  }
}

@media (min-width: 768px) {
  .modal-md {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .modal-xxl {
    width: 1400px;
  }
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  top: 35%;
}

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 10px solid #ccc;
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}